html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	font-family: "Cera CY";
	font-style: normal;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
}
.main {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
}
.intro {
	background: url(/pics/banner.jpg) no-repeat center;
	background-size: cover;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 80px;
}
.intro__title {
	font-style: normal;
	font-weight: 700;
	font-size: 95px;
	line-height: 40px;
	color: #ffffff;
	margin-top: 80px;
	margin-bottom: 40px;
}
.intro__subtitle {
	max-width: 680px;
	font-style: normal;
	font-weight: 400;
	font-size: 31px;
	line-height: 40px;
	color: #ffffff;
	margin-bottom: 40px;
}
.courses {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	background-color: #f4f5f7;
}
.courses__box {
	background: #ffffff;
	box-shadow: 10px 10px 24px rgba(166, 180, 200, 0.7);
	border-radius: 10px;
	display: flex;
	margin-bottom: 30px;
	padding-right: 5px;
}
.box__pic {
	width: 175px;
}
.box__pic__cover1 {
	background: url(/pics/1.png) center no-repeat;
	background-size: cover;
}
.box__pic__cover2 {
	background: url(/pics/2.png) center no-repeat;
	background-size: cover;
}
.box__pic__cover3 {
	background: url(/pics/3.png) center no-repeat;
	background-size: cover;
}
.box__pic__cover4 {
	background: url(/pics/4.png) center no-repeat;
	background-size: cover;
}
.box__content {
	margin-left: 10px;
}
.box__title {
	width: 280px;
	margin-top: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}
.box__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.box__duration {
	margin-top: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #939393;
}
.duration__nums {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #939393;
	margin-bottom: 10px;
}
.go__button {
	background: #f9f5ff;
	border-radius: 10px;
	border: none;
	color: #6941c6;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: 0.5s;
	padding: 5px;
	/* margin-top: 130%;
  margin-right: 10px; */
}
.go__button:focus,
.go__button:hover {
	background: #e4d6f8;
	transition: 0.5s;
}
.box__description {
	margin-left: 10px;
}
.box__minisubtitle {
	margin-top: 14px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.box__points {
	max-width: 550px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
